<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Cancer Classifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Skin Cancer Classifier</h1>

        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="imagefile" class="form-label">Choose an image file:</label>
                <input type="file" class="form-control" id="imagefile" name="imagefile" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary">Predict</button>
        </form>

        {% if classification_result %}
            <div class="mt-4">
                <p class="fw-bold">Classification Result:</p>
                <p><span class="fw-bold">Class:</span> {{ classification_result.class }}</p>
                <p><span class="fw-bold">Confidence:</span> {{ classification_result.confidence }}%</p>
            </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-d4EDMu3XzL7XVgwoYF5M5P1F8MQPFFyo/5WKmGgRXAYjXq4YxLV7gqO6Li9NYzMtl" crossorigin="anonymous"></script>
</body>

</html>
