{% extends 'base.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


{% block body %}

<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch mx-auto">
                <div class="count-box ">
                    <a href="/#appointment" class="logo mx-auto me-auto"><img src="{% static 'assets/img/logo-1.png' %}"
                            class="img-fluid" alt=""></a>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h1>Probieren Sie jetzt das Skinlib-Modell aus</h1>
            <h3>Laden Sie Ihres Hautbild hoch. Dieses können Sie daneben schauen</h3>
            <h5>Klicken Sie auf "Vorhersage erhalten", um das Vorhersageergebnis zu erhalten</h5>
            
        </div>

    </div>


</section>


<section id="features" class="features">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 my-4 text-center" data-aos="fade-right">
                <form method="post" enctype="multipart/form-data" class="my-5 mx-auto" id="uploadForm">
                    {% csrf_token %}
                    <div class="form-group my-5">
                        <label for="imagefile">
                            <h4 class="text-info">Hautbild hochladen:</h4>
                        </label>
                        <input type="file" name="imagefile" class="form-control-file" accept="image/*" required
                            onchange="displayImage(this)">
                    </div>

                    <button type="submit" class="cta-btn scrollto btn btn-info rounded-pill px-4 py-2 mt-3">
                        <strong class="text-light">Vorhersage erhalten</strong>
                    </button>

                </form>

                {% if prediction_obj %}
                    <div class="my-5 p-4 bg-light border rounded">
                        <h4 class="my-3 text-primary">Hautbild Vorhersageergebnis:</h4>
                        <h5 class="my-3">Hautveränderungsart: {{ prediction_obj.predicted_class}}</h5>
                        <h5 class="my-3">Das Hautbild ist: {{ prediction_obj.confidence|floatformat:2 }}%
                            {{ prediction_obj.predicted_class}}</h5>
                        <h4 class="my-3 text-info">Ihre Daten werden an uns weitergeleitet und nur für den medizinischen Zweck verwendet.
                            <i class="fa-solid fa-envelope-circle-check" style="color: #3f76b4;"></i>
                        </h4>
                    
                        {% if prediction_obj.predicted_class == 'Basal cell carcinoma' or prediction_obj.predicted_class == 'Melanoma' or prediction_obj.predicted_class == 'Squamous cell carcinoma' or prediction_obj.predicted_class == 'Actinic keratosis' %}
                            <div class="my-5 p-4 bg-danger border rounded">
                                    <h4 class="my-3 text-light">Achtung! Dieses Hautbild zeigt eine gefährliche Form von Hautkrebs!</h4>
                                <h4 class="text-light">Bitte suchen Sie umgehend medizinischen Rat.</h4>
                                <a class="my-2 text-light" href="https://www.11880.com/suche/hautarzt/bonn"> &raquo; Hautärzte & Dermatologen in der Nähe</a>
                            </div>

                        
                        {% else %}
                            <div class="my-5 p-4 bg-success border rounded">
                                <h4 class="mt-3 text-light">Dieses Hautbild zeigt eine gutartige Hautveränderung!</h4>
                                <h4 class="my-1 text-light">Kein Hautkrebs</h4>
                            
                            
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <div class="image img-fluid col-lg-6 order-1 order-lg-2 my-4" id="uploadedImage"
                style='background-image: url("");' data-aos="zoom-in"></div>
        </div>

    </div>
</section>
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <a type="submit" class="cta-btn scrollto" href="/#appointment">zurück zu Skinlib</a>
        </div>

    </div>


</section>
<!-- Ein JS code, das hochgeladenes Bild in einem col anzuzeigen-->
<script>
    function displayImage(input) {
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadedImage').style.backgroundImage = 'url(' + e.target.result + ')';
            }
            reader.readAsDataURL(file);
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock body %}

